@function color-hover($c) {
  @return lighten($c, 5%);
}

@function color-focus($c) {
  @return darken($c, 1%);
}

@function color-active($c) {
  @return darken($c, 5%);
}

// PRIMARY
$primary: #007a9a;
$primary-rgb: rgb(0, 122, 154);
$primary-contrast: #efefef;
$primary-contrast-rgb: rgb(239, 239, 239);
$primary-shade: #006b88;
$primary-tint: #1a87a4;
// SECONDARY
$secondary: #68bbb9;
$secondary-rgb: rgb(104, 187, 185);
$secondary-contrast: #000;
$secondary-contrast-rgb: rgb(0, 0, 0);
$secondary-shade: #5ca5a3;
$secondary-tint: #77c2c0;
// TERTIARY
$tertiary: #fece62;
$tertiary-rgb: rgb(254, 206, 98);
$tertiary-contrast: #000;
$tertiary-contrast-rgb: rgb(0, 0, 0);
$tertiary-shade: #e0b556;
$tertiary-tint: #fed372;
// SUCCESS
$success: #17bb75;
$success-rgb: rgb(23, 187, 117);
$success-contrast: #000;
$success-contrast-rgb: rgb(0, 0, 0);
$success-shade: #14a567;
$success-tint: #2ec283;
// WARNING
$warning: #ffe728;
$warning-rgb: rgb(255, 231, 40);
$warning-contrast: #000;
$warning-contrast-rgb: rgb(0, 0, 0);
$warning-shade: #e0cb23;
$warning-tint: #ffe93e;
// DANGER
$danger: #ef4135;
$danger-rgb: rgb(239, 65, 53);
$danger-contrast: #efefef;
$danger-contrast-rgb: rgb(239, 239, 239);
$danger-shade: #d2392f;
$danger-tint: #f15449;
// DARK
$dark: #333;
$dark-rgb: rgb(51, 51, 51);
$dark-contrast: #efefef;
$dark-contrast-rgb: rgb(239, 239, 239);
$dark-shade: #3d4b4c;
$dark-tint: #586667;
// MEDIUM
$medium: #68767e;
$medium-rgb: rgb(104, 118, 126);
$medium-contrast: #efefef;
$medium-contrast-rgb: rgb(239, 239, 239);
$medium-shade: #5c686f;
$medium-tint: #77848b;
// LIGHT
$light: #e4e6e8;
$light-rgb: rgb(228, 230, 232);
$light-contrast: #000;
$light-contrast-rgb: rgb(0, 0, 0);
$light-shade: #c9cacc;
$light-tint: #e7e9ea;
