:root {
  // IONIC PRIMARY
  --ion-color-primary: var(--cronk-color-primary);
  --ion-color-primary-rgb: var(--cronk-color-primary-rgb);
  --ion-color-primary-contrast: var(--cronk-color-primary-contrast);
  --ion-color-primary-contrast-rgb: var(--cronk-color-primary-contrast-rgb);
  --ion-color-primary-shade: var(--cronk-color-primary-shade);
  --ion-color-primary-tint: var(--cronk-color-primary-tint);
  // IONIC SECONDARY
  --ion-color-secondary: var(--cronk-color-secondary);
  --ion-color-secondary-rgb: var(--cronk-color-secondary-rgb);
  --ion-color-secondary-contrast: var(--cronk-color-secondary-contrast);
  --ion-color-secondary-contrast-rgb: var(--cronk-color-secondary-contrast-rgb);
  --ion-color-secondary-shade: var(--cronk-color-secondary-shade);
  --ion-color-secondary-tint: var(--cronk-color-secondary-tint);
  // IONIC TERTIARY
  --ion-color-tertiary: var(--cronk-color-tertiary);
  --ion-color-tertiary-rgb: var(--cronk-color-tertiary-rgb);
  --ion-color-tertiary-contrast: var(--cronk-color-tertiary-contrast);
  --ion-color-tertiary-contrast-rgb: var(--cronk-color-tertiary-contrast-rgb);
  --ion-color-tertiary-shade: var(--cronk-color-tertiary-shade);
  --ion-color-tertiary-tint: var(--cronk-color-tertiary-tint);
  // IONIC SUCCESS
  --ion-color-success: var(--cronk-color-success);
  --ion-color-success-rgb: var(--cronk-color-success-rgb);
  --ion-color-success-contrast: var(--cronk-color-success-contrast);
  --ion-color-success-contrast-rgb: var(--cronk-color-success-contrast-rgb);
  --ion-color-success-shade: var(--cronk-color-success-shade);
  --ion-color-success-tint: var(--cronk-color-success-tint);
  // IONIC WARNING
  --ion-color-warning: var(--cronk-color-warning);
  --ion-color-warning-rgb: var(--cronk-color-warning-rgb);
  --ion-color-warning-contrast: var(--cronk-color-warning-contrast);
  --ion-color-warning-contrast-rgb: var(--cronk-color-warning-contrast-rgb);
  --ion-color-warning-shade: var(--cronk-color-warning-shade);
  --ion-color-warning-tint: var(--cronk-color-warning-tint);
  // IONIC DANGER
  --ion-color-danger: var(--cronk-color-danger);
  --ion-color-danger-rgb: var(--cronk-color-danger-rgb);
  --ion-color-danger-contrast: var(--cronk-color-danger-contrast);
  --ion-color-danger-contrast-rgb: var(--cronk-color-danger-contrast-rgb);
  --ion-color-danger-shade: var(--cronk-color-danger-shade);
  --ion-color-danger-tint: var(--cronk-color-danger-tint);
  // IONIC DARK
  --ion-color-dark: var(--cronk-color-dark);
  --ion-color-dark-rgb: var(--cronk-color-dark-rgb);
  --ion-color-dark-contrast: var(--cronk-color-dark-contrast);
  --ion-color-dark-contrast-rgb: var(--cronk-color-dark-contrast-rgb);
  --ion-color-dark-shade: var(--cronk-color-dark-shade);
  --ion-color-dark-tint: var(--cronk-color-dark-tint);
  // IONIC MEDIUM
  --ion-color-medium: var(--cronk-color-medium);
  --ion-color-medium-rgb: var(--cronk-color-medium-rgb);
  --ion-color-medium-contrast: var(--cronk-color-medium-contrast);
  --ion-color-medium-contrast-rgb: var(--cronk-color-medium-contrast-rgb);
  --ion-color-medium-shade: var(--cronk-color-medium-shade);
  --ion-color-medium-tint: var(--cronk-color-medium-tint);
  // IONIC LIGHT
  --ion-color-light: var(--cronk-color-light);
  --ion-color-light-rgb: var(--cronk-color-light-rgb);
  --ion-color-light-contrast: var(--cronk-color-light-contrast);
  --ion-color-light-contrast-rgb: var(--cronk-color-light-contrast-rgb);
  --ion-color-light-shade: var(--cronk-color-light-shade);
  --ion-color-light-tint: var(--cronk-color-light-tint);
  // IONIC BACKGROUND
  --ion-background-color: var(--cronk-background-color);
  --ion-background-color-rgb: var(--cronk-background-color-rgb);
}
