.selection-subject {
    margin: 0.5rem;
    cursor: pointer;
    background-color: rgba(1, 115, 143, 0.49);
    padding: 1rem;
    flex-basis: 100px;
    text-align: center;
    box-sizing: content-box;
    &.selected {
        background-color: rgba(1, 115, 143, 0.81);
    }
}