// /* Core CSS required for Ionic components to work properly */
// @import '~@ionic/core/css/global.bundle.css';
@import '~@ionic/core/css/ionic.bundle.css';

/* Custom theme */
@import '../theme/theme';

/* Conkite styles */
@import './styles/colours';
@import './styles/variables';
@import './styles/font';
@import './styles/scaling';

html,
body {
  margin: 0;
  padding: 0;
  font-size: $font-size + px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overscroll-behavior: none;
  font-family: Lato, sans-serif;
}

body,
input,
select,
textarea,
button {
  font-family: Lato, sans-serif;
  color: $dark-shade;
}

* {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}
