// /* Core CSS required for Ionic components to work properly */
// @import '~@ionic/core/css/global.bundle.css';
@import '~@ionic/core/css/ionic.bundle.css';

/* Custom theme */
@import '../theme/theme.scss';

/* Conkite styles */
@import './styles/colours.scss';
@import './styles/variables.scss';
@import './styles/font.scss';
@import './styles/scaling.scss';

html,
body {
  margin: 0;
  padding: 0;
  font-size: $font-size + px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overscroll-behavior: none;
  font-family: 'Lato', sans-serif;
}

body,
input,
select,
textarea,
button {
  font-family: 'Lato', sans-serif;
  color: $dark-shade;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
