:root {
  --cronk-base-font-size: 16;
  // PRIMARY
  --cronk-color-primary: #007a9a;
  --cronk-color-primary-rgb: rgb(0, 122, 154);
  --cronk-color-primary-contrast: #efefef;
  --cronk-color-primary-contrast-rgb: rgb(239, 239, 239);
  --cronk-color-primary-shade: #006b88;
  --cronk-color-primary-tint: #1a87a4;
  // SECONDARY
  --cronk-color-secondary: #68bbb9;
  --cronk-color-secondary-rgb: rgb(104, 187, 185);
  --cronk-color-secondary-contrast: #000;
  --cronk-color-secondary-contrast-rgb: rgb(0, 0, 0);
  --cronk-color-secondary-shade: #5ca5a3;
  --cronk-color-secondary-tint: #77c2c0;
  // TERTIARY
  --cronk-color-tertiary: #fece62;
  --cronk-color-tertiary-rgb: rgb(254, 206, 98);
  --cronk-color-tertiary-contrast: #000;
  --cronk-color-tertiary-contrast-rgb: rgb(0, 0, 0);
  --cronk-color-tertiary-shade: #e0b556;
  --cronk-color-tertiary-tint: #fed372;
  // SUCCESS
  --cronk-color-success: #17bb75;
  --cronk-color-success-rgb: rgb(23, 187, 117);
  --cronk-color-success-contrast: #000;
  --cronk-color-success-contrast-rgb: rgb(0, 0, 0);
  --cronk-color-success-shade: #14a567;
  --cronk-color-success-tint: #2ec283;
  // WARNING
  --cronk-color-warning: #ffe728;
  --cronk-color-warning-rgb: rgb(255, 231, 40);
  --cronk-color-warning-contrast: #000;
  --cronk-color-warning-contrast-rgb: rgb(0, 0, 0);
  --cronk-color-warning-shade: #e0cb23;
  --cronk-color-warning-tint: #ffe93e;
  // DANGER
  --cronk-color-danger: #ef4135;
  --cronk-color-danger-rgb: rgb(239, 65, 53);
  --cronk-color-danger-contrast: #efefef;
  --cronk-color-danger-contrast-rgb: rgb(239, 239, 239);
  --cronk-color-danger-shade: #d2392f;
  --cronk-color-danger-tint: #f15449;
  // DARK
  --cronk-color-dark: #333;
  --cronk-color-dark-rgb: rgb(51, 51, 51);
  --cronk-color-dark-contrast: #efefef;
  --cronk-color-dark-contrast-rgb: rgb(239, 239, 239);
  --cronk-color-dark-shade: #3d4b4c;
  --cronk-color-dark-tint: #586667;
  // MEDIUM
  --cronk-color-medium: #68767e;
  --cronk-color-medium-rgb: rgb(104, 118, 126);
  --cronk-color-medium-contrast: #efefef;
  --cronk-color-medium-contrast-rgb: rgb(239, 239, 239);
  --cronk-color-medium-shade: #5c686f;
  --cronk-color-medium-tint: #77848b;
  // LIGHT
  --cronk-color-light: #e4e6e8;
  --cronk-color-light-rgb: rgb(228, 230, 232);
  --cronk-color-light-contrast: #000;
  --cronk-color-light-contrast-rgb: rgb(0, 0, 0);
  --cronk-color-light-shade: #c9cacc;
  --cronk-color-light-tint: #e7e9ea;
  // BACKGROUND
  --cronk-background-color: #fff;
  --cronk-background-color-rgb: rgb(255, 255, 255);

  // IONIC PRIMARY
  --ion-color-primary: var(--cronk-color-primary);
  --ion-color-primary-rgb: var(--cronk-color-primary-rgb);
  --ion-color-primary-contrast: var(--cronk-color-primary-contrast);
  --ion-color-primary-contrast-rgb: var(--cronk-color-primary-contrast-rgb);
  --ion-color-primary-shade: var(--cronk-color-primary-shade);
  --ion-color-primary-tint: var(--cronk-color-primary-tint);
  // IONIC SECONDARY
  --ion-color-secondary: var(--cronk-color-secondary);
  --ion-color-secondary-rgb: var(--cronk-color-secondary-rgb);
  --ion-color-secondary-contrast: var(--cronk-color-secondary-contrast);
  --ion-color-secondary-contrast-rgb: var(--cronk-color-secondary-contrast-rgb);
  --ion-color-secondary-shade: var(--cronk-color-secondary-shade);
  --ion-color-secondary-tint: var(--cronk-color-secondary-tint);
  // IONIC TERTIARY
  --ion-color-tertiary: var(--cronk-color-tertiary);
  --ion-color-tertiary-rgb: var(--cronk-color-tertiary-rgb);
  --ion-color-tertiary-contrast: var(--cronk-color-tertiary-contrast);
  --ion-color-tertiary-contrast-rgb: var(--cronk-color-tertiary-contrast-rgb);
  --ion-color-tertiary-shade: var(--cronk-color-tertiary-shade);
  --ion-color-tertiary-tint: var(--cronk-color-tertiary-tint);
  // IONIC SUCCESS
  --ion-color-success: var(--cronk-color-success);
  --ion-color-success-rgb: var(--cronk-color-success-rgb);
  --ion-color-success-contrast: var(--cronk-color-success-contrast);
  --ion-color-success-contrast-rgb: var(--cronk-color-success-contrast-rgb);
  --ion-color-success-shade: var(--cronk-color-success-shade);
  --ion-color-success-tint: var(--cronk-color-success-tint);
  // IONIC WARNING
  --ion-color-warning: var(--cronk-color-warning);
  --ion-color-warning-rgb: var(--cronk-color-warning-rgb);
  --ion-color-warning-contrast: var(--cronk-color-warning-contrast);
  --ion-color-warning-contrast-rgb: var(--cronk-color-warning-contrast-rgb);
  --ion-color-warning-shade: var(--cronk-color-warning-shade);
  --ion-color-warning-tint: var(--cronk-color-warning-tint);
  // IONIC DANGER
  --ion-color-danger: var(--cronk-color-danger);
  --ion-color-danger-rgb: var(--cronk-color-danger-rgb);
  --ion-color-danger-contrast: var(--cronk-color-danger-contrast);
  --ion-color-danger-contrast-rgb: var(--cronk-color-danger-contrast-rgb);
  --ion-color-danger-shade: var(--cronk-color-danger-shade);
  --ion-color-danger-tint: var(--cronk-color-danger-tint);
  // IONIC DARK
  --ion-color-dark: var(--cronk-color-dark);
  --ion-color-dark-rgb: var(--cronk-color-dark-rgb);
  --ion-color-dark-contrast: var(--cronk-color-dark-contrast);
  --ion-color-dark-contrast-rgb: var(--cronk-color-dark-contrast-rgb);
  --ion-color-dark-shade: var(--cronk-color-dark-shade);
  --ion-color-dark-tint: var(--cronk-color-dark-tint);
  // IONIC MEDIUM
  --ion-color-medium: var(--cronk-color-medium);
  --ion-color-medium-rgb: var(--cronk-color-medium-rgb);
  --ion-color-medium-contrast: var(--cronk-color-medium-contrast);
  --ion-color-medium-contrast-rgb: var(--cronk-color-medium-contrast-rgb);
  --ion-color-medium-shade: var(--cronk-color-medium-shade);
  --ion-color-medium-tint: var(--cronk-color-medium-tint);
  // IONIC LIGHT
  --ion-color-light: var(--cronk-color-light);
  --ion-color-light-rgb: var(--cronk-color-light-rgb);
  --ion-color-light-contrast: var(--cronk-color-light-contrast);
  --ion-color-light-contrast-rgb: var(--cronk-color-light-contrast-rgb);
  --ion-color-light-shade: var(--cronk-color-light-shade);
  --ion-color-light-tint: var(--cronk-color-light-tint);
  // IONIC BACKGROUND
  --ion-background-color: var(--cronk-background-color);
  --ion-background-color-rgb: var(--cronk-background-color-rgb);
}
