cronk-version {
  display: flex;
  width: 100%;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-weight: 200;
  line-height: 1.2;
  color: #ccc;
  justify-content: flex-end;
  cursor: default;

  &::selection {
    background: none; /* WebKit/Blink Browsers */
  }

  &::-moz-selection {
    background: none; /* Gecko Browsers */
  }
}
