cronk-statsbox {
  --epi-headlinevalue-padding: 1%;

  display: flex;
  background-color: var(--cronk-color-medium-contrast, #eee);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  & epi-headlinevalue {
    display: flex;

    & .headline {
      padding: 0;
    }
  }
}
