cronk-simple-grid {
  /* Default table styles for this demo */
  & table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    & tr {
      background: white;
      border-bottom: 1px solid;

      &.grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1%, 1fr));
      }
    }

    & th,
    & td {
      padding: 10px 20px;
    }

    & td span {
      background: #eee;
      color: dimgrey;
      display: none;
      font-size: 10px;
      font-weight: bold;
      padding: 5px;
      position: absolute;
      text-transform: uppercase;
      top: 0;
      left: 0;
    }
  }

  /* stylelint-disable order/order */
  @media (max-width: 800px) {
    /* Simple CSS for flexbox table on mobile */
    & table thead {
      left: -9999px;
      position: absolute;
      visibility: hidden;
    }

    & table tr,
    & table tr.grid {
      border-bottom: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 40px;
    }

    & table td {
      border: 1px solid;
      margin: 0 -1px -1px 0;
      padding-top: 35px;
      position: relative;
      width: 100%;
    }

    & table td span {
      display: block;
    }
  }
}
