cronk-page-components {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;

  & .components-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-gap: 0.5rem;
  }
}
